<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit>
        </app-shopping-edit>
        <hr>
        <ul class="list-group">
            <!-- with async angular will subscribe to ingredients and will 
            manage and resolve that and then can access ingredients  -->
            <a 
                class="list-group-item"    
                style="cursor: pointer" 
                *ngFor="let ingredient of (ingredients | async).ingredients; let i = index"
                (click)="onEditItem(i)"
                >
                {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </ul>
    </div>
</div>